<!-- Bootstrap core JavaScript-->
<script src="/sbadmin/vendor/jquery/jquery.min.js"></script>
<script src="/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/sbadmin/js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="/sbadmin/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/sbadmin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/sbadmin/js/demo/datatables-demo.js"></script>
<script>
    $('#dataTableCategory').DataTable()
    $('#dataTableCategory').on('click','.edit-category',function(){
        let id=$(this).data('id')
        let name=$(this).data('name')
        console.log(name)
        console.log('test')
        $('#input-name').val(name)
        $('#input-id').val(id)
    })
</script>
</body>

</html>